body{
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    height:100vh;
    width:100wh;
    overflow:hidden;
    font-family:"Oxygen";
   }
  .card{
    height:680px;
    width:400px;
    background-color:white;
    border-radius:10px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .profile{
    height:70px;
    width:100;
    background-color:white;
    border-radius:10px;
  }
  .profile img{
    height:50px;
    width:50px;
    margin-left:5%;

    margin-top:3%;
    border-radius:50%;
    object-fit: cover;
  }
  .profile h4{
    position:absolute;
    font-size:16px;
    font-weight:strong;
    padding-left:80px;
    padding-top:-5%;
  
  }
  .profile i{
    position:absolute;
    font-weight:strong;
    right:15px;
    top:15px;
          
  
  }
  .profile h5{
    position:absolute;
    font-size:13px;
    font-weight:strong;
    color:gray;
    padding-left:80px;
    padding-top:5%;
  }
  .profile span{
    position:absolute;
     font-size:35px;
    font-weight:strong;
    top:0px;
    left:200px;
    
  }
  .profile h6{
    position:absolute;
    font-size:16px;
    font-weight:900;
    color:#0095f6;
    left:220px;
    top:-15px;
    
  }
  .icons{
    height:50px;
    background-color:white;
    
  }
  .icons i{
    position:grid;
    padding-left:10px;
    height:100%;
  }
  .icons #save{
    position:grid;
    padding-left:205px;
    height:100%;
  }
  
  
  .about-post{
    margin-left:15px;
    margin-top:-25px;
    padding-right:5px;
    
  }
  .about-post img{
    top:0px;
    border-radius:50%;
   
  }
  .name_caption{
    margin-top:-10px;
  }
  #caption{
    font-size:14px;
    color:darkblack;
  }
  .about-post h5{
    font-size:13px;
    color:gray;
    top:-10px;
    height:10px;
  }
  .about-post input{
    width:90%;
    border:0;
    font-family:"Oxygen";
    padding-left:10px;
    margin-top:-10px;
  }
  .about-post input::placeholder{
    padding-top:-10px;
    font-size:14px;
    font-weight:bold;
    mergin-top:-10px;
  }
  .about-post h6{
    margin-top:-14px;
    color:gray;
  }